body {
  background-color: white;
  margin: 0;
  padding: 30px;
}

h1 {
  margin: 0 0 0 10px;
  font-size: 34px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

span,
select,
a {
  font-family: Verdana, Tahoma, sans-serif;
}

main a,
.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

select {
  width: 100px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

#settings {
  font-size: 34px;
  line-height: 34px;
  height: inherit;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}

header:hover {
  background-color: rgba(96, 75, 75, 0.5);
}

.hide {
  display: none;
}

main {
  position: relative;
  width: 100%;
  margin-top: 20px;
  background-color: #bfbfbf;
  border-radius: 8px;
}

main > div {
  padding: 20px;
  border-radius: 8px;
}

div > *:nth-child(even) {
  float: right;
}

main > div:hover {
  background-color: #3f3f3f99;
}
